<!DOCTYPE html>
<html lang="de">
	{% include 'templates/head' %}
	<body>
		<div class="container header">
			<img src="{{base_url}}/images/Icon.png" class="icon" alt="Shurl Icon" />
			<h1 class="center">Welcome to Shurl</h1>
			<span class="center">
				<p><b>{{count}}</b> Links</p>
				<p>are powered by this Shurl instance</p>
			</span>
		</div>
	</body>
</html>
