<!DOCTYPE html>
<html lang="de">
	{% include 'templates/head' %}
	<body>
		<div class="container">
			<img src="{{base_url}}/images/Icon.png" class="icon" alt="Shurl Icon" />
			<h1 style="text-align: center;">Welcome to Shurl</h1>
		</div>
	</body>
</html>
