body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #EFEFEF;
	padding-top: 30vh;
}

div.container {
	background-color: #EFEFEF;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	color: #333;
}

div.container.header {
	margin-top: -15vh;
}

.center {
	text-align: center;
	display: block;
}

img.icon {
	display: block;
	margin: auto;
	padding-bottom: 5vh;
}

a {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

h1 {
	padding: 20px 20px 5px 20px;
}

p {
	letter-spacing: 1px;
	line-height: 200%;
	font-weight: 300;
	color: #666;
	padding: 0px 20px 0px 20px;
}

p:first-of-type {
	padding-top: 5px;
	border-top: 1px solid #DFDFDF;
}
p:last-of-type {
	padding-bottom: 20px;
}
