<meta charset="utf-8">
<title>{{ template.name }}</title>
<meta name="viewport" content="user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width" />
{% asset 'style.scss' %}
