@import 'colors';
@import 'size';

body {
	background-color: $color-background;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-height: 100%;
	padding-top: floor($page-height / 4);
}

.container {
	background-color: $color-background;
	color: $color-foreground;
	margin: 0 auto;
	max-width: 100%;
	min-width: 30%;
	width: $page-width;
}

.center {
	display: block;
	text-align: center;
}

.accent {
	color: $color-accent;
}

img {
	&.icon {
		background-color: $color-accent;
		border: 5px solid mix($color-accent, invert($color-background), 75%);
		border-radius: 50%;
		box-shadow: 0 0 floor($page-width / 12) transparentize($color-accent, 20%);
		display: block;
		height: $icon-size;
		margin: floor(-$icon-size / 2) auto floor($page-height / 20);
		width: $icon-size;
	}
}

a {
	border-bottom: 1px solid $color-accent;
	color: darken($color-foreground, 20%);
	font-weight: bolder;
	text-decoration: none;
}

b {
	color: darken($color-foreground, 20%);
}

h1 {
	padding: $padding-size $padding-size floor($padding-size / 4);
}

p {
	color: lighten($color-foreground, 20%);
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 200%;
	padding: 0 $padding-size;

	&:first-of-type {
		border-top: 1px solid rgba(invert($color-background), .05%);
		padding-top: floor($padding-size / 4);
	}
}
