@import 'colors';
@import 'size';

body {
	background-color: $color-background;
	color: $color-foreground;
	padding-top: floor($page-height / 4);
}

.container {
	margin: 0 auto;
	min-width: 30%;
	width: $page-width;
}

.center {
	text-align: center;
}

img {
	&.icon {
		background-color: $color-accent;
		border: 5px solid $color-accent;
		border-radius: 50%;
		display: block;
		height: $icon-size;
		margin: floor(-$icon-size / 2) auto floor($page-height / 20);
		width: $icon-size;
	}
}

a {
	text-decoration: none;
}
