@import 'colors';

body {
  background-color: $background-color;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 30vh;
}

.container {
  background-color: $background-color;
  color: $accent-color;
  margin: 0 auto;
  max-width: 100%;
  min-width: 30%;
  width: 600px;

  &.header {
    margin-top: -15vh;
  }
}

.center {
  display: block;
  text-align: center;
}

img {
  &.icon {
    background-color: $primary-color;
    border-radius: 50%;
    box-shadow: 0 0 50px transparentize($primary-color, 20%);
    display: block;
    margin: auto auto 5vh;
  }
}

a {
  color: $accent-color;
  font-weight: bold;
  text-decoration: none;
}

b {
  color: darken($accent-color, 20%);
}

h1 {
  padding: 20px 20px 5px;
}

p {
  color: lighten($accent-color, 20%);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 200%;
  padding: 0 20px;

  &:first-of-type {
    border-top: 1px solid rgba(invert($background-color), .1);
    padding-top: 5px;
  }

  &:last-of-type {
    padding-bottom: 20px;
  }

  a {
    color: $primary-color;
  }
}
