<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
	</head>
	<body>
		<div class="container">
			<h1><b class="accent">{{ exception.code }}</b> - {{ exception.type }}</h1>
			<p>{{ exception.message }}</p>
		</div>
	</body>
</html>
