<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
		<link rel="canonical" href="{{ url.getOriginal }}"/>
	</head>
	<body>
		<div class="container">
			<h1><i class="accent">{{ url.slug }}</i> <small>resolves to:</small></h1>
			<p><a href="{{ url.getOriginal }}" rel="noreferrer nofollow">{{ url.getOriginal }}</a></p>
		</div>
	</body>
</html>
