<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
		<link rel="canonical" href="{{ url.getOriginal }}"/>
	</head>
	<body>
		<div class="container header">
			<h2 class="center">{{ url.slug }}</h2>
			<span class="center">
				<p>resolves to: <a href="{{ url.getOriginal }}" rel="noreferrer nofollow">{{ url.getOriginal }}</a></p>
			</span>
		</div>
	</body>
</html>
