<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
	</head>
	<body>
		<div class="container header">
			<img src="/images/Icon.png" class="icon" alt="{{ config.name }} Icon" />
			<h1 class="center">Welcome to {{ config.name }}</h1>
			<span class="center">
				<p><b>{{ count }}</b> Links</p>
				<p>are powered by this {{ config.name }} instance</p>
			</span>
		</div>
	</body>
</html>
